<div id="wrapper">  				    			
	<div class="b-container b-wrapper"> 
		<div class="b-post" itemscope itemtype="http://schema.org/Movie"> 				    
				
			<div class="b-content__columns pdt clearfix" style="padding-top: 20px;"> 
					
					<div *ngIf='movieInfo' class="b-content__main"> 
												
							<div class="b_title_line">

								<div class="b-post__title"><h1 itemprop="name">{{ movieInfo.title }}</h1> </div> 

								<div class="country-panel">
									<img *ngFor="let code of countryCodes" src="https://www.dyclassroom.com/image/flags/{{code}}.png"/>
								</div>
							</div>

							<div *ngIf="movieInfo.tagline" class="b-post__origtitle" itemprop="alternativeHeadline"> {{ movieInfo.tagline }} </div> 

							<div class="b-post__infotable clearfix">
							
							<div class="b-post__infotable_left"> 
						        <img class="poster-image" itemprop="image" src="https://image.tmdb.org/t/p/w500/{{movieInfo.poster_Path}}" width="234" height="360"/>  
							</div> 
							
							<div class="b-post__infotable_right"> 
								<div class="b-post__infotable_right_inner"> 
								    <table class="b-post__info"> 							 								 
										<tr *ngIf='movieInfo.releaseDate'> 
											<td class="l"><h2>Release Date</h2>:</td>
											<td class="b_table_value">{{ movieInfo.releaseDate }}</td> 
										</tr> 
							            <tr *ngIf='movieInfo.companies.length'> 
											<td class="l"><h2>Companies</h2>:</td> 
											<td class="b_table_value">{{ movieInfo.companies | join_elements : companySelector : ', ' }}</td> 
										</tr> 
							            <tr *ngIf='movieInfo.genres.length'> 
											<td class="l"><h2>Genres</h2>:</td> 
											<td class="b_table_value">{{ movieInfo.genres    | join_elements : genreSelector : ', ' }}</td> 
										</tr> 
							            <tr *ngIf='movieInfo.popularity'> 
											<td class="l"><h2>Popularity</h2>:</td> 
											<td class="b_table_value" itemprop="popularity">{{ movieInfo.popularity }}</td> 
										</tr> 
										<tr *ngIf='movieInfo.runtime'> 
											<td  class="l"><h2>Runtime</h2>:</td> 
											<td  class="b_table_value" itemprop="duration">{{ movieInfo.runtime }} minutes</td> 
										</tr> 
							            <tr *ngIf='movieInfo.status'> 
											<td  class="l"><h2>Status</h2>:</td> 
											<td  class="b_table_value"> {{ movieInfo.status }} </td> 
										</tr> 
									</table> 

									<div class="b_actions_line">
										<button (click)="likeMovie($event)" type="button" class="btn btn-default b_icon_button">
											<span class="fa fa-heart fa-lg" aria-hidden="true"></span>
										</button>
										<button (click)="viewMovie($event)" type="button" class="btn btn-default b_icon_button">
											<span class="fa fa-eye fa-lg" aria-hidden="true"></span>
										</button>
									</div>

								</div> 

						        </div> 
							</div>

						<div class="b-post__description_title"><h2>Description</h2>:</div> 
						<div class="b-post__description_text">{{ movieInfo.overview }}</div>  
						<div *ngIf='castSliderItems' class="b-casts">
							<slider-template [sliderId]="'cast-slider-id'" [sliderItems]='castSliderItems' [sliderTitle]="'Casts'" ></slider-template>
						</div>
						<div *ngIf='crewSliderItems' class="b-crews">
							<slider-template [sliderId]="'crew-slider-id'" [sliderItems]='crewSliderItems' [sliderTitle]="'Crews'"></slider-template>
						</div>
					</div>
				</div>
		</div>
</div>
