<!-- Profile -->
<div class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-center">Username</h4>
          <p class="w3-center"><img src="../content/avatar.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
          <hr>
          <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Some bio</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
          <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>
      <br>

      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">

          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar fa-fw w3-margin-right"></i>
            Watch later</button>
          <div id="Demo3" class="w3-hide w3-container">
            <div class="w3-row-padding">
              <br>

              <div class="row">
                <div class="col-lg-4">
                  <img src="../content/film_cover.jpg" style="width:100%" class="w3-margin-bottom">
                </div>

                <div class="col-lg-8">
                  <p><b>Genre: </b>Crime, Thriller </p>
                  <p><b>Duration: </b>2h 2m </p>
                  <p><b>IMDb: </b>7.5/10</p>
                </div>


              </div>

              <div class="row">
                <div class="col-lg-4">
                  <img src="../content/film_cover.jpg" style="width:100%" class="w3-margin-bottom">
                </div>

                <div class="col-lg-8">
                  <p><b>Genre: </b>Crime, Thriller </p>
                  <p><b>Duration: </b>2h 2m </p>
                  <p><b>IMDb: </b>7.5/10</p>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Interests -->
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Favourite genres</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">Genre 1</span>
            <span class="w3-tag w3-small w3-theme-d4">Genre 2</span>
            <span class="w3-tag w3-small w3-theme-d3">Genre 3</span>
            <span class="w3-tag w3-small w3-theme-d2">Genre 4</span>
            <span class="w3-tag w3-small w3-theme-d1">Genre 5</span>
            <span class="w3-tag w3-small w3-theme">Genre 6</span>
            <span class="w3-tag w3-small w3-theme-l1">Genre 7</span>
            <span class="w3-tag w3-small w3-theme-l2">Genre 8</span>
            <span class="w3-tag w3-small w3-theme-l3">Genre 9</span>
            <span class="w3-tag w3-small w3-theme-l4">Genre 10</span>
            <span class="w3-tag w3-small w3-theme-l5">Genre 11</span>
          </p>
        </div>
      </div>
      <br>