<div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-container w3-card w3-white w3-round w3-margin-bottom"><br>
            <div class="row w3-container">

              <!-- Left column-->

              <div class="col-lg-3 w3-margin-right">
                <div class="row ">
                  <img src="../content/film_cover.jpg" class="w3-left w3-margin-bottom" style="width:100%; height: 100%;"
                    alt="Avatar">
                </div>
              </div>


              <!-- Right column-->

              <div class="col-lg-8 w3-margin-left">
                <h3> John Wick 2</h3>
                <hr>

                <!-- Main row -->

                <div class="row container">

                  <!--row 1-->
                  <div class="row container">

                    <div class="col-lg-6">
                      <p><b>Year: </b>2017 </p>
                      <p><b>Duration: </b>2h 2m </p>
                    </div>

                    <div class="col-lg-6">
                      <p><b>Genre: </b>Crime, Thriller </p>
                    </div>
                  </div>

                  <!--row 2-->
                  <div class="row container">

                    <div class="col-lg-6">
                      <p><b>Director: </b>Chad Stahelski</p>
                    </div>

                    <div class="col-lg-6">
                      <p><b>Budget: </b>40 million USD</p>
                    </div>

                  </div>

                  <!--row 3-->
                  <div class="row container">

                    <div class="col-lg-6">
                      <p><b>IMDb: </b>7.5/10</p>
                    </div>

                    <div class="col-lg-6">
                      <p><b>Rotentomatoes: </b>89%</p>
                    </div>

                    <!-- description-->

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-container w3-card w3-white w3-round w3-margin-bottom"><br>
              <div class="row w3-container">

                <!-- Left column-->

                <div class="col-lg-3 w3-margin-right">
                  <div class="row ">
                    <img src="../content/film_cover.jpg" class="w3-left w3-margin-bottom" style="width:100%; height: 100%;"
                      alt="Avatar">
                  </div>
                </div>


                <!-- Right column-->

                <div class="col-lg-8 w3-margin-left">
                  <h3> John Wick 2</h3>
                  <hr>

                  <!-- Main row -->

                  <div class="row container">

                    <!--row 1-->
                    <div class="row container">

                      <div class="col-lg-6">
                        <p><b>Year: </b>2017 </p>
                        <p><b>Duration: </b>2h 2m </p>
                      </div>

                      <div class="col-lg-6">
                        <p><b>Genre: </b>Crime, Thriller </p>
                      </div>
                    </div>

                    <!--row 2-->
                    <div class="row container">

                      <div class="col-lg-6">
                        <p><b>Director: </b>Chad Stahelski</p>
                      </div>

                      <div class="col-lg-6">
                        <p><b>Budget: </b>40 million USD</p>
                      </div>

                    </div>

                    <!--row 3-->
                    <div class="row container">

                      <div class="col-lg-6">
                        <p><b>IMDb: </b>7.5/10</p>
                      </div>

                      <div class="col-lg-6">
                        <p><b>Rotentomatoes: </b>89%</p>
                      </div>

                      <!-- description-->

                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="w3-row-padding">
            <div class="w3-col m12">
              <div class="w3-container w3-card w3-white w3-round w3-margin-bottom"><br>
                <div class="row w3-container">
  
                  <!-- Left column-->
  
                  <div class="col-lg-3 w3-margin-right">
                    <div class="row ">
                      <img src="../content/film_cover.jpg" class="w3-left w3-margin-bottom" style="width:100%; height: 100%;"
                        alt="Avatar">
                    </div>
                  </div>
  
  
                  <!-- Right column-->
  
                  <div class="col-lg-8 w3-margin-left">
                    <h3> John Wick 2</h3>
                    <hr>
  
                    <!-- Main row -->
  
                    <div class="row container">
  
                      <!--row 1-->
                      <div class="row container">
  
                        <div class="col-lg-6">
                          <p><b>Year: </b>2017 </p>
                          <p><b>Duration: </b>2h 2m </p>
                        </div>
  
                        <div class="col-lg-6">
                          <p><b>Genre: </b>Crime, Thriller </p>
                        </div>
                      </div>
  
                      <!--row 2-->
                      <div class="row container">
  
                        <div class="col-lg-6">
                          <p><b>Director: </b>Chad Stahelski</p>
                        </div>
  
                        <div class="col-lg-6">
                          <p><b>Budget: </b>40 million USD</p>
                        </div>
  
                      </div>
  
                      <!--row 3-->
                      <div class="row container">
  
                        <div class="col-lg-6">
                          <p><b>IMDb: </b>7.5/10</p>
                        </div>
  
                        <div class="col-lg-6">
                          <p><b>Rotentomatoes: </b>89%</p>
                        </div>
  
                        <!-- description-->
  
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>