<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/w3-theme-blue-grey.css">
<link rel='stylesheet' href='fonts/css.css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">

<!--

  с файла чет иконки не робят

<link rel="stylesheet" href="/css/font-awesome.min.css">
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif
  }
</style>


<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
          <!-- Left Column -->
          <div class="w3-col m3">
                <profile-info></profile-info>
            <!-- End Left Column -->
          </div>
    
            <!-- Middle Column -->
            <div class="w3-col m7">
            <middle-column></middle-column>
            <!-- End Middle Column -->
            </div>
    
          <!-- End Grid -->
        </div>
    
        <!-- End Page Container -->
      </div>
      <br>